certifi==2020.12.5
chardet==4.0.0
defusedxml==0.7.1
Django==3.2
django-mathfilters
idna
oauthlib
Pillow
psycopg2
psycopg2-binary
PyJWT
python3-openid
pytz
reportlab
requests
requests-oauthlib
six
social-auth-app-django==4.0.0
social-auth-core==4.1.0
urllib3==1.26.4
