{% load static %}
{% load mathfilters %}
{% include "includes/landing_top.html" %}

<body>
	<script src="{% static 'js/jquery.vide.min.js' %}"></script>
	<div data-vide-bg="{% static 'video/bg.jpg' %}">
		<!-- banner -->
		{% include "includes/banner.html" %}
		<!-- //banner -->
	</div>
	<!-- special -->
	<div class="special">
		<div class="container">
			<div class="special-heading">
				<h3>Today Specials</h3>
			</div>
			<div class="special-grids">
			{% for f in food %}
					<div class="col-md-4 w3l-special-grid">
						<a href="{% url 'hotel:food_details' f.id %}">
							<div class="col-md-6 w3ls-special-img" style="background: url('/media/{{f.image}}') no-repeat -17px 0px; background-size: cover;">
								<div class="w3ls-special-text effect-1">
									<h4>{{f.name|truncatechars:11}}</h4>
								</div>
							</div>
						</a>

						<div class="col-md-6 agileits-special-info">
							<a href="{% url 'hotel:food_details' f.id %}"><h4>{{f.name|truncatechars:11}}</h4></a>
							<p>{{f.content_description|truncatechars:90}}</p>
						</div>
					</div>
			{% endfor %}
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special -->
	<!-- features -->
	<div class="features">
		<div class="container">
			<div class="features-heading">
				<h3>Our Features</h3>
			</div>
			<div class="features-grids">
				<div class="col-md-4 features-left">
					<div class="features-left-info">
						<img src="https://source.unsplash.com/1600x900/?pizza,burger" 
							style="border-radius:20px; width:350px; height: 650px;" alt="food">
					</div>
				</div>
				<div class="col-md-8 features-right">
					<div class="features-right-info">
						<h4>Savor mouthwatering dishes at our restaurants in Dhaka, Bangladesh
							Whether you’re searching for familiar cuisine or hoping to dig into the flavors of Bangladesh after a day of sightseeing, the Green View Restaurant has just the meal for you. You can enjoy fresh, wholesome Bangladeshi cuisine at Sublime, a restaurant perfect for a romantic evening or an important client meeting. Or, visit the Water Garden Brasserie for breakfast, lunch, or dinner and choose from the international buffet and cook-to-order stations. For a modern take on Asian cuisine, make your way to Spice & Rice, and if you crave a snack or delicious dessert, visit our deli café, Chit Chat.
						</h4>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-users" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Start your day at the Water Garden Brasserie with a hearty breakfast featuring local and international dishes that are sure to please a variety of palates. At lunch and dinner, you can return for a lavish international buffet and cook-to-order food stations. Relax in the casual atmosphere as you enjoy a family dinner or conduct business over lunch. Need a midday break? Grab a snack and relax next to the water feature while you watch the bustle of the lobby lounge.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-asterisk" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>A modern restaurant with an exciting open kitchen, Sublime features the very best of Bangladesh produce with an emphasis on fine and wholesome cuisine. Host a client lunch in this stylish setting, or bring your significant other to enjoy an evening of fine dining.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa-fa-heartbeat" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Fresh and exciting Asian cuisine takes center stage at Spice & Rice. Our chefs prepare cuisine with a variety of South Asian influences as well as specialty menu items in a contemporary, relaxed setting. Sit near our open kitchen and let our chefs entertain you for the evening with their culinary skill.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="features-right-grids">
						<div class="features-right-left">
							<div class="features-right-icon effect-2">
								<i class="fa fa-cog" aria-hidden="true"></i>
							</div>
						</div>
						<div class="features-right-right">
							<p>Order light dishes like chicken pie, quiche, salad, and sandwiches at this relaxing spot next to the pool deck and the wellness area. Chit Chat is the perfect place to watch the sun set while sipping a refreshing iced tea and nibbling a pastry or cake.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //features -->
	<!-- customer -->
	<div class="customer">
		<div class="container">
			<div class="customer-heading">
				<h3>What Our Customers are Saying</h3>
			</div>
			<div class="customer-heading-grids">
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Excellent Foods</p>
					</div>
					<div class="customer-img">
						
						<h5>Jude Angel Suares</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Its the best foods I eat ever had</p>
					</div>
					<div class="customer-img">
						
						<h5>Adrian Mercurio</h5>
					</div>
				</div>
				<div class="col-md-4 customer-grid">
					<div class="customer-info">
						<p>Super Tasty and Delicious</p>
					</div>
					<div class="customer-img">
						
						<h5>Niko Curaza</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //customer -->
	{% include "includes/footer.html" %}